@page
@using Esh3arTech.Localization
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using Volo.Abp.Validation.StringValues
@inject IStringLocalizer<Esh3arTechResource> L
@model Esh3arTech.Web.Pages.Plans.Subscriptions.AssignToUserModel
@{
    Layout = null;
}

<form asp-page="/Plans/Subscriptions/AssignToUser">
    <abp-modal size="Large">
        <abp-modal-header title="@L["Hdr:AssignToUser"].Value"></abp-modal-header>
        <abp-modal-body>
            <div class="col-md-12">
                <p class="text-muted">
                    @Model.PlanModel.Name.ToUpper() -
                    @L["CostPerDay"].Value @if (@Model.PlanModel.DailyPrice.HasValue)
                    {
                        @Model.PlanModel.DailyPrice.Value
                    } -
                    @L["CostPerWeek"].Value @if (@Model.PlanModel.WeeklyPrice.HasValue)
                    {
                        @Model.PlanModel.WeeklyPrice.Value
                    } -
                    @L["CostPerMonth"].Value @if (@Model.PlanModel.MonthlayPrice.HasValue)
                    {
                        @Model.PlanModel.MonthlayPrice.Value
                    } -
                    @L["CostPerYear"].Value @if (@Model.PlanModel.AnnualPrice.HasValue)
                    {
                        @Model.PlanModel.AnnualPrice.Value
                    }
                </p>
            </div>
            <abp-input asp-for="PlanId" />
            <div class="row">
                <div class="col-md-12">
                    <abp-select asp-for="Model.UserId" asp-items="Model.UserList" label="@L["AssignToUsers"].Value" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <abp-select asp-for="Model.BillingInterval" label="@L["BillingInterval"].Value" id="BillingInterval" />
                </div>
                <div class="col-md-2 align-content-center">
                    <label class="form-check-label fw-bold">@L["EnableCustomPrice"].Value</label>
                </div>
                <div class="col-md-1 d-flex justify-content-center align-items-center form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="CbEnablePrice">
                </div>
                <div class="col-md-3">
                    <abp-input asp-for="Model.Price" title="@L["CustomPrice"].Value" id="Price"></abp-input>
                    <abp-input type="hidden" asp-for="Model.Price" id="HiddenPrice" />
                </div>
            </div>
            <div class="form-check form-switch">
                <input asp-for="Model.IsAutoRenew" class="form-check-input" type="checkbox">
                <label class="form-check-label fw-bold">@L["AutoRenew"].Value</label>
            </div>
            <div class="form-check form-switch">
                <input asp-for="Model.IsActive" class="form-check-input" type="checkbox">
                <label class="form-check-label fw-bold">@L["IsActive"].Value</label>
            </div>
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>

<script>
    // We use a self-executing function to avoid polluting global scope
    (function ($) {
        const $priceInput = $('#Price');
        const $hiddenPriceInput = $('#HiddenPrice');
        const $billingIntervalInput = $('#BillingInterval');

        let currentPrice = $priceInput.val();
        $hiddenPriceInput.val(currentPrice);

        const currentInterval = $billingIntervalInput.val();

        $(document).on('change', '#CbEnablePrice', function(e) {
            let isChecked = $(this).prop('checked');

            if (isChecked) {
                $('#Price').prop('disabled', !isChecked);
                $priceInput.val(currentPrice);
            }
            else {
                $('#Price').prop('disabled', !isChecked);
                $hiddenPriceInput.val($priceInput.val());
            }
        });

        $billingIntervalInput.on('change', function() {
            if ($(this).val() == 0) {
                currentPrice = @Model.PlanModel.DailyPrice.Value;
                $priceInput.val(currentPrice);
                $hiddenPriceInput.val(currentPrice);
            }
            else if ($(this).val() == 1) {
                currentPrice = @Model.PlanModel.WeeklyPrice.Value;
                $priceInput.val(currentPrice);
                $hiddenPriceInput.val(currentPrice);
            }
            else if ($(this).val() == 2) {
                currentPrice = @Model.PlanModel.MonthlayPrice.Value;
                $priceInput.val(currentPrice);
                $hiddenPriceInput.val(currentPrice);
            }
            else if ($(this).val() == 3) {
                currentPrice = @Model.PlanModel.AnnualPrice.Value;
                $priceInput.val(currentPrice);
                $hiddenPriceInput.val(currentPrice);
            }
        });

        $priceInput.on('change', function() {
            $hiddenPriceInput.val($priceInput.val());
        });

    })(jQuery);
</script>