@page
@using Esh3arTech.Localization
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using Volo.Abp.Validation.StringValues
@model Esh3arTech.Web.Pages.Plans.CreatePlanModalModel
@inject IStringLocalizer<Esh3arTechResource> L
@{
    Layout = null;
}

<form asp-page="/Plans/CreateModal">
    <abp-modal size="Large">
        <abp-modal-header title="@L["Hdr:NewPlan"].Value"></abp-modal-header>
        <abp-modal-body>
            <abp-tabs>
                <abp-tab title="@L["Tab:Details"].Value">
                    <div class="row">
                        <div class="col-md-6">
                            <abp-input asp-for="Plan.Name" />
                        </div>
                        <div class="col-md-6">
                            <abp-input asp-for="Plan.DisplayName" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <abp-input asp-for="Plan.DailyPrice" />
                        </div>
                        <div class="col-md-6">
                            <abp-input asp-for="Plan.WeeklyPrice" />
                        </div>
                        <div class="col-md-6">
                            <abp-input asp-for="Plan.MonthlayPrice" />
                        </div>
                        <div class="col-md-6">
                            <abp-input asp-for="Plan.AnnualPrice" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <abp-input asp-for="Plan.TrialDayCount" />
                        </div>
                        <div class="col-md-6">
                            <abp-input asp-for="Plan.WaitingDayAfterExpire" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <abp-select asp-for="Plan.ExpiringPlanId" asp-items="Model.PlanList" label="@L["ParentPlan"].Value" />
                        </div>
                    </div>
                </abp-tab>
                <abp-tab title="@L["Tab:Features"].Value">
                    <p class="text-muted">@L["SelectFeaturesForPlan"]</p>
                    @if (Model.Plan.Features != null)
                    {
                        for (int i = 0; i < Model.Plan.Features.Count; i++)
                        {
                            <div class="mb-3 border-bottom pb-2">
                                <input type="hidden" asp-for="Plan.Features[i].Name" />
                                
                                @* CASE 1: Checkbox (Toggle) *@
                                @if (Model.Plan.Features[i].ValueType is ToggleStringValueType)
                                {
                                    // Logic: We need to send "true" or "false" string to the backend.
                                    // We use a hidden input for the actual value binding.
                                    // We use a checkbox for the UI interaction.
                                    
                                    var isChecked = Model.Plan.Features[i].Value?.ToLower() == "true";
                                    
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" 
                                               id="feature_@i" 
                                               @(isChecked ? "checked" : "")
                                               onchange="document.getElementById('val_@i').value = this.checked ? 'true' : 'false'">
                                        
                                        <label class="form-check-label fw-bold" for="feature_@i">
                                            @Model.Plan.Features[i].DisplayName
                                        </label>
                                        
                                        <input type="hidden" id="val_@i" 
                                               name="Plan.Features[@i].Value" 
                                               value="@(isChecked ? "true" : "false")" />
                                               
                                        <div class="form-text text-muted small">
                                            @Model.Plan.Features[i].Description
                                        </div>
                                    </div>
                                }
                                @* CASE 2: Text Input (Numbers/Text) *@
                                else
                                {
                                    <label class="form-label fw-bold">@Model.Plan.Features[i].DisplayName</label>
                                    <input type="text" class="form-control" 
                                           asp-for="Plan.Features[i].Value" />
                                           
                                    <div class="form-text text-muted small">
                                        @Model.Plan.Features[i].Description 
                                        (@L["Default"]: @Model.Plan.Features[i].Value)
                                    </div>
                                }
                            </div>
                        }
                    }
                </abp-tab>
            </abp-tabs>

        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>

