@page
@using Esh3arTech.Localization
@using Esh3arTech.Web.Pages.Messages.Components
@using Esh3arTech.Web.Pages.Messages.Components.SendAttachmentArea
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@model Esh3arTech.Web.Pages.Messages.SendMessageModalModel
@inject IStringLocalizer<Esh3arTechResource> L
@{
    Layout = null;
}

<form asp-page="/Messages/SendMessageModal" enctype="multipart/form-data">
    <abp-modal size="Large">
        <abp-modal-header title="@L["Hdr:SendManualMessage"].Value"></abp-modal-header>
        <abp-modal-body>
            <div class="row">
                <div class="col-md-6">
                    <abp-input asp-for="Model.RecipientPhoneNumber" label="@L["RecipientPhoneNumber"].Value"></abp-input>
                </div>
                <div class="col-md-6">
                    <abp-input type="file" id="Send_ImageFile" asp-for="Model.ImageFile" label="@L["UploadImage"].Value"></abp-input>
                </div>
            </div>
            <div class="col-md-12">
                <abp-input asp-for="Model.MessageContent" label="@L["MessageContent"].Value"></abp-input>
            </div>
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>